<!DOCTYPE html>
<html>
<head>
    <title>同意書</title>
    <link rel="stylesheet" href="{{ url_for('data_blueprint.static', filename='css/style1.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h2>同意書</h2>
    <div class="header">
    以下の内容をよく読み、同意する場合は「同意する」ボタンを押してください。
    </div>
        <div class="inline_box">
            <h3>患者さんへ</h3>

<h3>「深層学習モデルを活用したアプリケーションによる関節リウマチの早期診断と疾患活動性評価に関する研究」（前向き観察研究）</h3>
<p>これは臨床研究への参加についての説明文書です。本臨床研究についてわかりやすく説明しますので、内容をじゅうぶんにご理解いただいた上で参加するか否かご自身の意思でお決めください。<br>
この臨床研究は患者さんの治療のためだけでなく、新たな診断方法の確立のためにも行われます。<br></p>

<h3>1. 研究の名称及び当該研究の実施について研究機関の長の許可を受けている旨</h3>
<p>臨床研究では、研究対象者の人権が保護され、安全性が確保されているかどうか、また、研究を実施することに倫理的な問題がないかなど、研究の実施について第三者から審査を受けることが義務付けられています。<br>
これから説明する本研究も下記の委員会の承認を得て、その後研究実施に関して、研究実施機関の長の許可を受けております。<br></p>
<h3> [本研究を審査した委員会] </h3>
<p>審査委員会の名称　： 獨協医科大学における人を対象とする研究等に関する倫理委員会<br>
審査委員会の所在地・設置者の住所 ：栃木県下都賀郡壬生町北小林880</p>

<h3>2	研究機関の名称及び研究責任者の氏名</h3>
<p>獨協医科大学病院<br>
済生会宇都宮病院<br>

研究責任者	獨協医科大学リウマチ膠原病内科	医師	教授	池田　啓<br>
研究分担者	獨協医科大学リウマチ膠原病内科	医師	准教授	前澤　玲華<br>
研究分担者	済生会宇都宮病院リウマチ膠原病内科医師	部長	花岡　亮輔<br></p>

<h3>3	研究の目的及び意義</h3>
<p>今回われわれは、手指の肉眼所見、あるいは手指X線写真のような、従来言語化が困難と思われた情報を深層学習技術によって再現性をもって高精度に評価し、RAの診断および疾患活動性評価に用いるウェブアプリケーションを構築します。ウェブアプリケーションの性能は、関節痛を自覚して担当医療機関に受診する患者を対象として、１年間かけて関節リウマチの診断が確実か否かを検証した結果を用いて、従来の診断方法や疾患活動性評価の手法と比較します。最終的にウェブアプリケーションは一般に広く公開し、患者自ら、あるいは非専門医が使用に耐えうるものとして社会実装することを目標としています。<br>
この作成したウェブアプリケーションの使用を通じて、患者さん自ら、あるいは非専門医の医師が疾患や病状を的確に把握し、必要な時に早期にリウマチ科専門医を受診、最適な治療を受けることを可能にすることが可能になります。<br></p>

<h3>4	研究の方法及び期間</h3>
<h4>4.1. 調査内容</h4>
<p>同意が得られたかたにはお持ちの携帯電話端末を使用して所定のQRコードを読みこむことで当該ウェブアプリケーションにアクセスしていただき、研究に関する説明を読み、同意ボタンを押したかたにはメールアドレス、性別、年齢、発病時期、症状のある関節について入力をお願いします。また、両手の甲の写真撮影を行ないます。撮影の際には背景を白無地とし、個人情報が特定されないように配慮します。さらに、医師は患者さんの赤血球沈降速度、血清CRP値、血清RF値、血清抗シトルリン化ペプチド抗体価を入力し、あなたの手指X線写真をデータとして取り込みます。この際にも個人を特定する情報を消去して保存するように配慮します。<br></p>

<h4>4.2. 研究に参加する予定機関と研究のスケジュール</h4>
<p>本研究ではあなたが関節リウマチに罹患しているか否かを慎重に見極めるため、本日を入れて１年間、最低でも約３ヶ月に１回受診していただきます。<br></p>

<h4>4.3. 本研究参加に必要な受診日数</h4>
<p>この研究への参加を同意してくださった場合、診察と検査のために今回の来院を含めて合計４回受診していただくことになります。<br></p>

<h4>4.4. 研究期間</h4>
<p>本研究全体の実施期間は獨協医科大学における人を対象とする研究等に関する倫理委員会にて審査後、委員会から発行される審査結果通知書の承認日より、研究実施機関の長の研究実施許可を得てから2026年3月31日までとしております。<br></p>

<h3>5	研究対象者として選定された理由</h3>
<p>あなたが本研究の研究対象として適格であると判断された理由は、現時点で18歳以上の男性、または女性であり、最低でも１カ所以上の関節に痛みを自覚されていること、本研究について十分な説明を受けたのちであれば、ご本人の自由意志による文書同意を得ることが可能で、あるだけでなく、指の欠損やネイルアート、刺青などのために手の写真から個人を特定される危険のないかたであるからです。<br></p>

<h3>6	研究対象者に生じる負担並びに予測されるリスク及び利益</h3>
<p>本研究では関節リウマチとその類縁疾患の診断を確定するために一般保険診療で可能な範囲ではありますが、十分な血液検査と画像検査を行う可能性があります。この中には経過観察のために測定される血液検査や単純X線検査さらに必要な場合には造影剤を使用した関節MRI検査などがありますが、これらの検査は関節疾患の診断において一般的に使用される範疇のものです。よって、研究に参加することで新たに必要となる侵襲はないと考えられます。<br></p>

<h3>7	研究が実施又は継続されることに同意した場合であっても随時これを撤回できる旨</h3>
<p>この研究に参加するかどうかは、あなた自身の意思で自由に決めていただきます。参加をお断りになっても不利益を受けることは一切ありません。また、研究参加に同意した後（たとえ研究期間中であっても）、いつでも同意を撤回することができます。<br></p>

<h3>8	研究が実施又は継続されることに同意しないこと又は同意を撤回することによって研究対象者等が不利益な取扱いを受けない旨</h3>
<p>あなたがこの研究に参加することに同意されない場合も、また同意後に途中で同意を撤回された場合も、不利益を受けることは一切ありません。<br></p>

<h4>9	研究に関する情報公開の方法</h4>
<p>この研究の最終的な結果は学会や学術雑誌で公表される予定ですが、結果は研究に参加いただいた患者さんの情報をまとめた形で報告されますので、あなたのお名前などの個人情報を特定できる情報が公開されることはありません。最終的な結果が出た際には、あなたと、ご要望があればあなたのご家族に、担当医師より結果をご説明いたします。<br></p>

<h4>10	研究対象者等の求めに応じて、他の研究対象者等の個人情報等の保護及び当該研究の独創性の確保に支障がない範囲内で研究計画書及び研究の方法に関する資料を入手又は閲覧できる旨並びにその入手又は閲覧の方法</h4>
<p>本研究の実施に関連する臨床研究計画書および研究方法についての資料は、あなたが希望された場合、他の研究対象者の個人情報等の保護や当該臨床研究の独創性の確保に支障がない範囲で、入手又は閲覧することができます。ただし、閲覧を希望されてから上記の個人情報等の保護および研究の独創性の確保のために、種々の手続きあるいは研究実施者および研究実施組織における協議を行います。その結果、資料の提示まで時間がかかることや希望された資料の一部のみの提示となる場合があることをご了承ください。<br></p>

<h4>11	個人情報等の取扱い</h4>
<p>この研究によって得られたあなたの診察や検査の結果などは、医学専門誌などに発表する論文などに使われますが、あなたに関する情報は個人の氏名、生年月日、電話番号、また診療情報等、個人を識別できる情報を削除し符号化した個人情報として適切に取り扱います。<br>
あなたの秘密が保全される事を条件に、研究が正しく行われているかどうかを確かめるために、昭和大学における人を対象とする研究等に関する倫理委員会の委員や研究者によりデータ確認作業を任命された人が、病院にあるあなたの診療記録など研究に関連したデータを閲覧する事があります。この場合においても、そのような人達は、法律で秘密を守るように定められていますので、あなたの個人情報等の保護に配慮した上で実施します。<br></p>

<h4>12	試料・情報の保管及び廃棄の方法</h4>
<p>この研究に参加している間、あなたの健康状態、治療内容などの個人データおよび血液などの検体は、あなたの個人情報が記載されていない匿名化したデータ（コード化したデータ）として、研究実施医療機関において厳重に保管されます。あなたの個人データおよび検体は、臨床研究責任医師が規制要件などに従って定められた期間保管します（通常、研究終了後から５年間）。あなたの個人データおよび検体を廃棄する場合には、匿名化を行い、あなたの個人情報が特定できないようにして廃棄します。<br></p>

<h4>13	研究の資金源等、研究機関の研究に係る利益相反及び個人の収益等、研究者等の研究に係る利益相反に関する状況</h4>
<p>研究グループが公的資金以外に製薬企業などからの資金提供を受けている場合に、臨床研究が企業の利益のために行われているのではないか、あるいは臨床研究の結果の公表が公正に行われないのではないか（企業に有利な結果しか公表されないのではないか）などといった疑問が生じることがあります。これを利益相反（患者さんの利益と研究グループや製薬企業などの利益が相反している状態）と呼びます。<br>
研究責任医師は、本研究で実施する●●検査を受託する株式会社○○から受託研究契約金を受けています。本研究の利害関係については、獨協医科大学倫理審査委員会の承認を得ております。また、当該研究経過を定期的に獨協医科大学倫理審査委員会へ報告等を行うことにより、本研究の利害関係についての公正性を保ちます。<br></p>
<h4>14	研究対象者等及びその関係者からの相談等への対応</h4>
<p>あなたがこの研究およびあなたの権利に関してさらに情報が欲しい場合、またはあなたに健康被害が発生した場合に、あなたが連絡をとる病院の担当者は下記のとおりです。何かお聞きになりたいことがありましたら、どうぞ遠慮なくいつでもご連絡ください。<br>
	【問合せ・苦情等の相談窓口（連絡先）】<br>
		職名　<br>　　　　　　　　
		氏名<br>　　　　　　　　　
		連絡先<br>　　　　　　　　</p>

        </div>
    <div class="footer">
        同意される方は、以下のボタンを押してください。</p>
    </div>
    <div class="button-container">
    <a href="{{ url_for('data_blueprint.index') }}" class="button">同意しない</a>
    <a href="{{ url_for('auth_blueprint.signin') }}" class="button">同意する</a>
    </div>
        </form>
    </div>
</body>
</html>